[tasks.build-fast]
shell = 'powershell -Command'
run = '''
cargo build --profile release-fast
'''

[tasks.kill]
shell = "powershell -Command"
run = 'if (Get-Process winkeylock -ErrorAction SilentlyContinue) { taskkill /IM winkeylock.exe /F }'

[tasks.build-run]
depends = ["kill", "build-fast"]
run = 'target\release-fast\winkeylock.exe'

[tasks.tag]
shell = "powershell -Command"
run = '''
$env:VERSION=cargo get package.version
git tag --delete v$env:VERSION
git tag -a v$env:VERSION -m v$env:VERSION
'''

[tasks.gh-release]
shell = "powershell -Command"
run = '''
$env:VERSION=cargo get package.version
git push origin v$env:VERSION
gh release create v$env:VERSION target/release-fast/winkeylock.exe --generate-notes
'''
depends = ["tag", "build-fast"]
