[tasks.build-fast]
shell = 'powershell -Command'
run = '''
cargo build --profile release-fast
'''

[tasks.build]
shell = 'powershell -Command'
run = '''
cargo build --release
'''

[tasks.kill]
shell = "powershell -Command"
run = 'if (Get-Process winkeylock -ErrorAction SilentlyContinue) { taskkill /IM winkeylock.exe /F }'

[tasks.build-run]
depends = ["kill", "build"]
run = 'target\release\winkeylock.exe'

[tasks.tag]
shell = "powershell -Command"
run = '''
$env:VERSION=cargo get package.version
git tag --delete v$env:VERSION
git tag -a v$env:VERSION -m v$env:VERSION
'''

[tasks.gh-release]
shell = "powershell -Command"
run = '''
$env:VERSION=cargo get package.version
git push origin v$env:VERSION
gh release create v$env:VERSION target/release-fast/winkeylock.exe --generate-notes
'''
depends = ["tag", "build-fast"]

[tasks.remove-unused]
run = '''
cargo install cargo-shear && cargo shear && cargo install cargo-features-manager && cargo features prune
'''
# also cargo install cargo-machete && cargo machete
# or cargo install cargo-udeps --locked && cargo udeps
